<h1><%= title %></h1>
<p>Welcome! POST a new message here!</p>
<br />
<a href="/">Or go Back</a>

<form method="POST" action="/new">
  <label for="name">Name:</label>
  <input type="text" name="name" />

  <label for="message">Message:</label>
  <input type="text" name="message" />

  <button>Submit</button>
</form>
