extends layout

block content
  h1= title
  p Welcome! POST a new message here! 
  a(href="/") Or go back

  form(method="POST" action="/new")
    label(for="name") Name: 
    input(type="text" name="name")

    label(for="message") Message:  
    input(type="text" name="message")

    Button Submit